<%= form_for @route do |f| %>
  <%= render 'common/errors', resource: @route %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :station_ids, "Stations list" %>
    <%= f.collection_select :station_ids, Station.all, :id, :name, {}, { multiple: true } %>
  </div>


  <div class="actions">
    <%= f.submit "#{ @route.new_record? ? 'Create' : 'Change' }" %>
  </div>
<% end %>
