<!DOCTYPE html>
<html>
  <head>
    <title>ThinkneticaTrains</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <br />
  <%= render 'common/links_to_trains_stations_routes' %>
  <%= render 'common/footer' %>
</html>
